@media (max-width:768px){
  body{
    padding: 0;
    header{
      display: block !important;
      padding: 15px !important;
      .col-lg-2{
        text-align: center !important;
      }
      .head-menu{
        margin-top: 10px;
        justify-content: start !important;
        li{
          margin:0 5px !important;
          a{
            font-size: 12px;
          }
        }
        &__active{
          padding: 5px !important;
        }
      }
      .register{
        margin-top:10px;
        a{
          font-size: 12px;
          &:last-child{
            padding: 5px 10px !important;
          }
        }
      }
    }
  }
}