$mainColor:#202142;
$grayColor:#EFEFFF;
*{
  font-family: 'Poppins', sans-serif;
}
body{
  background: #EDEDF9;
  padding: 50px 100px;
  ul{
    padding-left: 0;
    list-style-type: none;
    margin: 0;
  }
  section{
    background: #fff;
    border-radius: 25px;
    box-shadow: 0px 6px 20px -3px #0000002b;
    header{
      display: flex;
      padding: 30px;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid #ddd;
      .head-menu{
        display: flex;
        justify-content: center;
        li{
          margin: 10px;
          a{
            color: $mainColor;
            text-decoration: none;
            font-weight: 600;
          }
        }
        &__active{
          background: #F1F1FD;
          padding: 10px 20px;
          border-radius: 30px;
        }
      }
      .register{
        text-align: right;
        a{
          color: $mainColor;
          text-decoration: none;
          font-weight: 600;
          &:last-child{
            background: $mainColor;
            color: #fff;
            padding: 15px 25px;
            margin-left: 15px;
            border-radius: 10px;
          }
        }
      }
    }
    main{
      .search-area{
        background: #FCFCFF;
        padding: 100px 0;
        text-align: center;
        color: $mainColor;
        &__title{
          font-size: 22px;
          font-weight: bold;
        }
        &__desc{
          font-size: 18px;
        }
        &__search-box{
          background: #FFFFFF;
          border: 1px solid $grayColor;
          box-sizing: border-box;
          box-shadow: 0px 16px 35px -15px rgba(2, 5, 132, 0.15);
          border-radius: 10px;
          display: inline-block;
          padding:15px;
          position: relative;
          select{
            border: none;
            min-height: 42px;
            &:focus{
              outline: none !important;
            }
          }
          input{
            border:none;
            margin-left: 20px;
            padding-left: 65px;
            position: relative;
            border-left: 1px solid $grayColor;
            min-height: 42px;
            min-width: 430px;
            &:focus{
              outline: none !important;
            }
          }
          svg{
            position: absolute;
            left: 0;
            right: 26%;
            top: 19px;
            margin: auto;
          }
        }
      }
      .result-area{
        padding: 30px;
        &__img-icon{
          position: absolute;
          left: 6%;
          top: 4%;
          background: #fff;
          padding: 14px;
          border-radius: 50%;
          width: 61px;
          height: 61px;
        }
        &__box{
          margin-top: 30px;
          .col-lg-4 .d-flex{
            align-items: center;
            margin-top: 20px;
          }
          .small-img{
            width: 20%;
          }
        }
        &__icons{
          display: flex;
          justify-content: flex-end;
          li{
            padding: 10px;
            background: #FCFCFF;
            border: 1px solid $grayColor;
            box-sizing: border-box;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
        &__left-btns{
          background: $grayColor;
          border-radius: 30px;
          padding: 10px;
          display: flex;
          input{
            display: none;
          }
          input:checked + label{
            background: #fff;
          }
          label{
            padding: 10px 20px;
            margin-bottom: 0;
            cursor: pointer;
            border: 1px solid $grayColor;
            box-sizing: border-box;
            box-shadow: 0px 10px 15px -10px rgba(2, 5, 132, 0.05);
            border-radius: 45px;
          }
        }
        .head-menu{
          display: flex;
          justify-content: center;
          li{
            margin: 10px;
            a{
              color: $mainColor;
              text-decoration: none;
              font-weight: 600;
            }
          }
          &__active{
            background: #F1F1FD;
            padding: 10px 20px;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
strong{
  display: none;
}
